{
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript",
        "singleQuote": true
      }
    },
    {
      "files": ["*.tsx"],
      "options": {
        "parser": "typescript",
        "jsxBracketSameLine": false,
        "jsxSingleQuote": true,
        "singleQuote": true
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
